Credis:
* *The Python Data Science Handbook* by Jake VanderPlas (O’Reilly). Copyright 2016 Jake VanderPlas, 978-1-491-91205-8.
* "Lomdim Python" Hebrew version: [Yam Mesicka](https://www.mesicka.com) (Editior: [Dafi Bar Ilan](https://www.dafibarilan.com/))
* `CS231n` Python tutorial by Justin Johnson (http://cs231n.github.io/python-numpy-tutorial/)
* Credit also to Dr. Jonathan Rubin.
and from other we've might missed

<p style="text-align: right; direction: rtl; float: right;">כדי להריץ את התוכן של תא מסוים, לחצו עליו כך שתופיע סביבו מסגרת, והקישו בו־זמנית על המקשים <kbd>CTRL</kbd> + <kbd>ENTER</kbd> במקלדת.<br>
לאחר שתעשו זאת, פייתון תעבד את הביטוי המופיע במשבצת ותציג לכם תשובה בהתאם.<br>
לחלופין לחצו על כפתור <kbd>Run</kbd> בתפריט למעלה.<br>
נסו את זה על המשבצת הבאה!</p>

In [ ]:
# Python has a built-in function called print that prints things as text.
# Call the function (i.e., tell Python to run it) by using its name.
# Provide values to the function (i.e., the things to print) in parentheses.
# To add a string to the printout, wrap the string in single or double quotes.
# The values passed to the function are called arguments

In [2]:
print("Hello World")
print('Hi there')

Hello World
Hi there

In [ ]:
hello = 'hello all'
print(hello)

## <span style="text-align: right; direction: rtl; float: right; clear: both;">הערות</span>
<p style="text-align: right; direction: rtl; float: right; clear: both;">
לפעמים נרצה לצרף דברי הסבר לקוד שכתבנו.<br>
כדי להוסיף הסברים לצד הקוד נשתמש בתו סולמית, ומייד אחריה נכתוב את ההסברים שרצינו לצרף.<br>
החלקים האלו בקוד נקראים <dfn>הערות</dfn>, ופייתון מתעלמת מקיומם כשהיא מריצה את הקוד.
</p>

In [ ]:
# You could also click shift+enter and another cell will be created
print('hi, Welcome to python!')  # This will print "hi, Welcome to python!"

## <span style="text-align: right; direction: rtl; float: right; clear: both;">מספרים</span>
### <span style="text-align: right; direction: rtl; float: right; clear: both;">חלוקת שלמים</span>
<p style="text-align: right; direction: rtl; float: right;"><dfn>חלוקת שלמים</dfn> היא פעולה שתוצאתה תמיד מספר שלם, בניגוד לפעולת החילוק שאנחנו רגילים אליה (<code>/</code>).</p>

<p style="text-align: right; direction: rtl; float: right;">כאשר אנחנו עושים חלוקת שלמים מהצורה <code>A // B</code>, אנחנו למעשה מתכוונים לשאול:</p>

<blockquote style="text-align: left; direction: ltr; float: right; border-left: 0; border-right: 5px solid #eeeeee;"><p style="text-align: right; direction: rtl; float: left;">אם יש לי A משולשי פיצה, וחילקתי את כל משלושי הפיצה באופן שווה ל־B ילדים (תזהרו מלחתוך לי את המשולשים!), כמה משולשי פיצה יקבל כל ילד?</p></blockquote>

<p style="text-align: right; direction: rtl; float: right;">לדוגמה: הביטוי <code>4 // 9</code>, אומר שיש לנו 9 משולשי פיצה ו־4 ילדים רעבים.<br>אם נחלק את משולשי הפיצה בין הילדים, נגלה שכל ילד יקבל 2 משולשים, ושנשאר משולש אחד שלא ניתן לחלק.</p>

### <span style="text-align: right; direction: rtl; float: right; clear: both;">שארית</span>
<p style="text-align: right; direction: rtl; float: right;">למשולשי הפיצה שלא הצלחנו לחלק לילדים אנחנו קוראים <dfn>שארית</dfn>, וזו התוצאה שנקבל כשנכתוב את הסימן <code>%</code> במקום <code>//</code>.<br>לדוגמה, אם היינו כותבים <code>4 % 9</code>, היינו מקבלים <code>1</code>, הרי הוא משולש הפיצה שנשאר מהדוגמה שלמעלה.</p>

In [3]:
print(5 / 2)
print(5 // 2)
print(5 % 2)

2.5
2
1

In [4]:
print(3 + 1)   # Addition;
print(4.1 - 1)   # Subtraction;
print(7 * 2)   # Multiplication;
print(10 ** 2)  # Exponentiation;

4
3.0999999999999996
14
100

### <span style="text-align: right; direction: rtl; float: right; clear: both;">Variables</span>

In [5]:
x = 3
print(x)
print(type(x))
print('------')

y = 2
print(y)
print(type(y))

3
<class 'int'>
------
2
<class 'int'>

In [6]:
# Calculations using Variables

print(x + 1)   # Addition;
print(x - 1)   # Subtraction;
print(x * 2)   # Multiplication;
print(x ** 2)  # Exponentiation;

4
2
6
9

In [7]:
# Manipulating multiple variables 

print(x + y)
print(x * y)
print(x ** y)
print(x / y)

5
6
9
1.5

In [8]:
# Numerical variables are "muteables", meaning that they can be changed

x = x + 1      # x += 1
print(x) 

x = x - 1      # x -= 1
print(x)

x = x * 2      # x *= 2
print(x) 

x = x / 3      # x /= 3
print(x)

4
3
6
2.0

לפייתון לא אכפת איך תקראו למשתני כל עוד הם הולכים לפי חוקי השמות (אותיות באנגלית, מספרים וקו תחתון בלבד)

In [ ]:
flabadab = 42
ewr_422_yY = 'Bloop'
print(ewr_422_yY, 'is', flabadab, 'years old')

בבקשה תתנו למשתנים שמות הגיוניים בכלל כמה סיבות: 
1. בכדי שהעובד האחר בחברה שאתם עובדים בה יבין מה הקוד שלכם עושה
2. לפעמים אתם האדם האחר כשתסתכלו על הקוד שלכם אחרי חצי שנה


## <span style="align: right; direction: rtl; float: right;">Booleans</span>

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.


An "if statement" is written by using the **if** keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

The **else** keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("a is greater than or equal to b")

The **elif** keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

The **and** keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

The **or** keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

You can have **if** statements inside **if** statements, this is called **nested if** statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the **pass** statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

When you run a condition in an if statement, Python returns True or False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
t = True
f = False
print(type(t)) # Prints "<type 'bool'>"

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;
print(t == f)  # Equality

## <span style="align: right; direction: rtl; float: right;">Strings</span>

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function

In [ ]:
print("Hello")
print('Hello')

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [10]:
hello = 'hello my "best friend"!!!'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
num = 3
print(hello, world, num)

hello my "best friend"!!! world 3

In [13]:
num = 3
hw = hello + ' ' + world + ' ' + str(3)  # String concatenation
print(hw)  # prints "hello world"

hello my "best friend"!!! world 3

In [ ]:
hw12 = '%s %s %d' % (hello, world, 12)  # sprintf style string formatting
hw13 = f'{hello} {world} 13'

print(hw12)  # prints "hello world 12" 
print(hw13)  # prints "hello world 13"

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize()  )# Capitalize a string; prints "Hello"
print(s.upper()      ) # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7)    )  # Right-justify a string, padding with spaces; prints "  hello"
print(s.center(7)  )   # Center a string, padding with spaces; prints " hello "
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                              # prints "he(ell)(ell)o"
print('  world '.strip())  # Strip leading and trailing whitespace; prints "world"

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello, World!"
print(a[1])
print(a[2])
print(a[3])

To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World!"
print(len(a))

b = "hey"
print(len(b))

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)
print("bloop" in txt)

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")
else:
  print("yeah, 'expensive' is indeed in present")

## <span style="align: right; direction: rtl; float: right;">Functions</span>

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In Python a function is defined using the **def** keyword:

In [ ]:
def hello_world():               # Function Header
    print("Hello World!")

To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name

In [ ]:
def my_function(fname):
  print(fname + " is a student in this class")

my_function("Shira")
my_function("Yoni")
my_function("Yarden")

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Ben", "Cohen")

If you try to call the function with 1 or 3 arguments, you will get an error:

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

print('1', sign(1))
print('0', sign(0))
print('-1', sign(-1))

In [ ]:
# Functions scope

def function():
  x = 3
  print(x)

print('before calling the function')
x = 5
print(x)

print()

print('when calling the function')
function()

print()

print('after calling the function')
print(x)

In [14]:
# We will often define functions to take optional keyword arguments, like this:
def hello(name, loud=False):
    if loud:
        print('hello, %s' % name.upper())
    else:
        print('Hello, %s!' % name)

hello('Bob')
hello('Fred', loud=True)
hello(loud=True, name='Bob')

Hello, Bob!
hello, FRED
hello, BOB

### Containers
Python includes several built-in container types:
* lists
* dictionaries
* sets
* tuples

## Lists
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

### Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### Allow duplicates
Since lists are indexed, lists can have items with the same value:

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

To determine how many items a list has, use the len() function:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

In [ ]:
# lists can hold number
list1 = [1, 2, 3, 4]

# lists can hold strings 
list2 = ['hello', 'python', 'good']

# lists can hold different types
list3 = ['hello', 'bye', 1, 2.3]

In [ ]:
# we can interact with list items

print(list1[0])
print(list1[2])
print(list2[1])
print(list3[3])

In [15]:
xs = [3, 1.1, 2, "david"]   # Create a list

print(xs)
print(xs[-1])    # Negative indices count from the end of the list; prints "david"
print(xs[-2])

[3, 1.1, 2, 'david']
david
2

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
print(xs)

In [ ]:
xs.append('bar') # Add a new element to the end of the list
print(xs)

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

In [ ]:
xs.insert(1,"inserted")
print(xs)

### Slicing
In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers 
print(nums)        # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])   # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])    # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])    # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])     # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])   # Slice indices can be negative; prints ["0, 1, 2, 3]"

nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)       # Prints "[0, 1, 8, 9, 4]"

### Loops
You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

print("done")

In [ ]:
# If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:
animals = ['cat', 'dog', 'monkey']

for i, animal in enumerate(animals):
    print('#%d: %s' % (i + 1, animal))

#### List comprehensions:
When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)

print(squares)

In [ ]:
# You can make this code simpler using a list comprehension:
 
squares = [x ** 2 for x in range(100)]
print(squares)

In [ ]:
# List comprehensions can also contain conditions:

nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

## Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

### Duplicates are not allowed

Dictionaries cannot have two items with the same key:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

To determine how many items a dictionary has, use the len() function:

In [ ]:
print(len(thisdict))

The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [ ]:
d = {
    'cat': 'cute',
     'dog': 'furry'
     }  # Create a new dictionary with some data
print(d['cat'])    # Get an entry from a dictionary; prints "cute"
print('cat' in d)  # Check if a dictionary has a given key; prints "True"

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])     # Prints "wet"

In [ ]:
d2=dict()
d3={}
print(type(d),type(d2),type(d3))

In [ ]:
print(d['monkey']) # KeyError: 'monkey' not a key of d

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A') )   # Get an element with a default; prints "wet"
print('------------')
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

In [ ]:
d1=dict()
names=["david", "dana", "irit", "david", "dana", "itzik"]
for name in names:
    d1[name] = d1.get(name, 0) + 1

print(d1)

In [ ]:
# It is easy to iterate over the keys in a dictionary:
d2 = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d2:
    legs = d2[animal]
    print('A %s has %d legs' % (animal, legs))

In [ ]:
# If you want access to keys and their corresponding values, use the 'items' method:
d3 = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d3.items():
    print('A %s has %d legs' % (animal, legs))

In [ ]:
# Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

## Sets
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

###Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can add new items.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

To determine how many items a set has, use the len() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

In [ ]:
# Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:
import math

sqrt_set = {int(math.sqrt(x)) for x in range(30)}
sqrt_set.add(3)
sqrt_set.add(12)

sqrt_set

#### Loops
Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for i, animal in enumerate(animals):
    print('#%d: %s' % (i + 1, animal))
# Prints "#1: fish", "#2: dog", "#3: cat"

## Tuples
A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
t = (5, 6)       # Create a tuple
print(type(t))
print(d[t])       
print(d[(1, 2)])

In [ ]:
t[0] = 2

In [ ]:
def get_dimensions():
  x = 4
  y = 5

  return x, y

get_dimensions()

In [ ]:
# tuple unpacking

x, y = get_dimensions()

print(x)
print(y)

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys

d

## Loops

### For Loop

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the **for** loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

### Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "banana":
  print(x)

### The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

### The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

### The range() Function
To loop through a set of code a specified number of times, we can use the **range()** function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

# Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
for x in range(2, 30, 3):
  print(x)

###Else in For Loop


The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")


# Note: The else block will NOT be executed if the loop is stopped by a break statement.

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)


### The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  if x == 0:
    pass
  print(x)

## While Loops

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

# Note: remember to increment i, or else the loop will continue forever.

While loops can be used with logical operations as well

In [ ]:
i = 1
j = 9

while i != j and/or j != 2:
  print(i)