<a id="home"></a>
#  Assignment 3 - Scikit Learn

| Section | Section-name | points | 
| :- | :- |  :- | 
| (i) | [intro](#intro) | 
| (ii) | [Materials to review](#review_materials) | |
| (iii) | [General instructions](#gen_instructions) | |
| 1 |  [Import packages](#Imports) | |
| 2 | [Student info](#student_info) | 0.5 |
| 3 |  [Preprocessing](#preprocessing) | 14 | 
| 4 | [Model Implementation](#model_implement) | 3 |
| 5 | [Model Evaluation](#evaluation) | 2 |
| 6 | [Hyper-parameter-tuning](#gridsearch) | 5 |

<hr>

| Total | points | 
| :- | :- |  
| Assignment Points | 15 |
| Points in assignment | 25 |
| Max Points you can get | 20 |

<a id="intro"></a>
### (i)  Intro
This assignment has ... parts. Follow the instructions in each section.<br/>
You have a lot of options to choose from, and to it is achievable.

In the following assignment you will be implementing and tested on the methodologies, algorithms and Python modules you leaned on the last few classes.

In this assignment you will: 
1. Handle, clean, de-duplicate, scale, handle missing values and pre-process data
2. Implement, experiment, train and evaluate various classification machine-learning models
3. Apply various techniques like: hyperparameters sweeping, K-fold Cross Validation, and more

The assignment is seperated to sections, each section is annotated with the max points you can get, and each sub task is annotated with its max points.

[Go to the beginning of the assignment](#home)
<a id="review_materials"></a>
### (ii) Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Data Cleansing</b> (tutorial 5 notebook)<br/>
&#x2714; <b>sklearn (Scikit learn) part 1</b> (tutorial 6 notebook)<br/>
&#x2714; <b>Feature Engineering, sklearn (Scikit learn) part 2</b> (tutorial 7 notebook)<br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>(brief review) Statistical intro. and scaling</b> (lecture 2 presentation)<br/>
&#x2714; <b>(brief review) The KNN algorithm</b> (lecture 2 presentation)<br/>
&#x2714; <b>(brief review) Decision Trees (the ID3 algorithm)</b> (lecture 3 presentation)<br/>
&#x2714; <b>(brief review) Naive Bayes and model evaluation</b> (lecture 4 and tutorial 4 presentations)<br/>
&#x2714; <b>(brief review) Dive into machine learning flow</b> (lecture 5 and tutorial 5 presentations)<br/>
&#x2714; <b>(brief review) Dimensionality Reduction</b> (lecture 7 (1st) presentation)<br/>
&#x2714; <b>(optional brief review) Feature Engineering</b> (lecture 8 (2nd) presentation (1st part))<br/>
</div>

[Go to the beginning of the assignment](#home)
<a id="gen_instructions"></a>
### (iii) General assignment instructions
#### General Notes:
* There may be more than one different way to answer a question or complete an exercise. 
* Some skeleton code has been implemented for you.
* Different tasks will be detailed by comments or text. 
  * Places make sure you put your own code after `# YOUR CODE HERE` 
  * Remove only `raise NotImplementedError()` exception (no other line).

For further reference and resources, it's advised to check out the [Scikit-Learn documentation](https://scikit-learn.org/stable/user_guide.html).

And if you get stuck, try searching for a question in the following format: <br/>
"how to do XYZ with Scikit-Learn", where XYZ is the function you want to leverage from Scikit-Learn.

Since we'll be working with data, we'll import Scikit-Learn's counterparts, NumPy and pandas.

Good luck :-)<br/>
Let's get started ...

#### Working on the assignment, todo and not todo:
<b><u>Todo</u></b>:<br />
<div class="alert alert-success">
<ul>
<li>&#x2714; Use <b> Jupyter Notebook </b>.</li>
<li>&#x2714; <b> Work by yourself</b> and submit your own assignment, <b>no pairing</b> to other students</li>
<li>&#x2714; Test and save your assignment - <b>submit the last tested and saved version</b></li>
<li>&#x2714; Work on the <b>original notebook</b> of the assignment</li>
<li>&#x2714; Run the code cells by their original order</li>
<li>&#x2714; submit <b>only</b> the <b>notebook (Assignment_3_Scikit_Learn.ipynb)</b> file (no name changing)</li></ul>
</div>
<b><u>Not todo</u></b>:<br />
<div class="alert alert-danger">
<ul>
<li>&#x2718; <b>do NOT use Google Colaboratory</b></li>
<li>&#x2718; do <b>NOT</b> submit an <b>empty assignment</b></li>
<li>&#x2718; do <b>NOT submit extra files</b>, <u>unless you're asked to do so</u></li>
<li>&#x2718; <b>Do NOT submit a .py/.txt/.rar/.zip (or any non (.ipynb) file)</b> <u>version for the notebook</u> of the assignment</li>
<li>&#x2718; <b>do NOT change</b> the notebook file name</li>
</ul>
</div>

<b>Your implementations are performed in the 'Answer code cell's as following</b>:<br/>
<div class="alert alert-success">
&#x2714; Your code starts one line after the '<code># YOUR CODE HERE</code>' remark<br/>
&#x2714; Implemented code<br/>
&#x2714; returned expected value<br/><br/>
<b><u>Your code should look like this</u><b>:</div>
<code># 5. function_name (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN 

def method_to_implement():
    # YOUR CODE HERE
    your implemented code ...
</code>

[Go to the beginning of the assignment](#home)
<a id="Imports"></a>
### 1. import modules (packages)
This step is necessary in order to use external modules (packages). <br/>
<div class="alert alert-success">
&#x2714; Any module or package imported in the following code cell are permitted
</div>
<div class="alert alert-danger">
&#x2718; Any other modules or packages are ILLEGAL
</div>

##### 1. IMPORT MODULES - Run the following code cell:

In [224]:
# 1. IMPORT MODULES 
# ====>>> YOUR ACTIONS: RUN ONLY

# DO NOT DELETE
import sys                       # for testing use only
import os                        # for testing use only
from datetime import datetime    # for testing use only
import random                    # for testing use only
import hashlib                   # for testing use only
import operator
# --------------------------------------
import math 
import statistics

import pandas as pd
import numpy as np
np.random.seed(42)
# --------------------------------------
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
# --------------------------------------
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# --------------------------------------
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# --------------------------------------

[Go to the beginning of the assignment](#home)
<a id="student_info"></a>
### 2. Student information
##### methods to implement:
* my_name
* my_id

#### 2.a. Function: my_name
<a id="myName"></a>
Implement the function to return your full name (as a string), for example:<br/>
<code>    return 'John Smith'</code>
##### Implement and Run the following code cell:

In [225]:
# 2.a. my_name (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN 

def my_name():
    # YOUR CODE HERE
    return 'Haim Adrian'

##### 2.a.  my_name - OPTIONAL SELF TEST -  Implement and Run the following code cell (IF NEEDED):

In [226]:
# 2.a. my_name (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 

student_name = my_name()
print(student_name)
# --- add additional code to check your code if needed:
# YOUR CODE HERE

Haim Adrian

#### 2.b. Function: my_id
<a id="myName"></a>
Implement the function to return your ID number (as an integer number).<br/>
Note: the **id number should be equal to the one in Moodle**, for example:<br/>
<code>    return 132468579</code>
##### Implement and Run the following code cell:

In [227]:
# 2.b. my_id (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN 

def my_id():
    # YOUR CODE HERE
    return 123456789

##### 2.b. my_id - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [228]:
# 2.b. my_id (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 

student_id = my_id()
print(student_id)
# --- add additional code to check your code if needed:
# YOUR CODE HERE

123456789

##### 2.b.  my_id - OPTIONAL SELF TEST -  Implement and Run the following code cell (IF NEEDED):

In [229]:
# 2. my_name, my_id (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("2. 'my_name' and 'my_id' - Test 1 (name: test2-1_student_info, points: 0.5)")

# dataframe for output:
dt1 = datetime.now()
try:
    student_name, student_id = my_name(), my_id()
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert type(student_name) is str or type(student_id) is int, "name is not a string or id is not an integer"

s_datetime =  [dt1.strftime('%Y-%m-%d %H:%M:%S'), datetime.now().strftime('%Y-%m-%d %H:%M:%S')]
df_output = pd.DataFrame({'value': [student_name, student_id], 'type': [type(student_name), type(student_id)], 'date_time': s_datetime},index=['student_name','student_id'])

print ("\nGood Job!\nYou've passed the test for the implementation of 'my_name' and 'my_id'  :-)")

print ('\nOutput dataframe:')
print ('-----------------')
df_output

2. 'my_name' and 'my_id' - Test 1 (name: test2-1_student_info, points: 0.5)

Good Job!
You've passed the test for the implementation of 'my_name' and 'my_id'  :-)

Output dataframe:
-----------------

                    value           type            date_time
student_name  Haim Adrian  <class 'str'>  2021-12-13 01:39:15
student_id      123456789  <class 'int'>  2021-12-13 01:39:15

[Go to the beginning of the assignment](#home)
<a id="preprocessing"></a>
### 3. Preprocessing

#### **14 points **

In this section, you will implement various pre-processing techniques on the "Loan Risk Factor" dataset.<br/>
<b><u>It will include the following</u></b>:
* 3.pre About Dataset - (review only - description of the dataset)
* 3.a. Load dataset                 (run only)
* 3.b. Duplicate removal            (1 point)
* 3.c. Decouple Dataset             (1 point)
* 3.d. Train Test Split             (1 point)
* 3.e. Missing Values Handling      (2 points)
* 3.f. Outlier Removal              (2 points)
* 3.g. Scaling                      (2 points)
* 3.h. Check Correlation            (2.5 points)
* 3.i. Categorical Columns Handling (2.5 points)

#### 3.pre. About Dataset
In this section of the assignment you will get familiar with a dataset named "Loan Risk Factor" documenting banks' clients asking for a loan.<br/>
Each row in the dataset represents a person who takes a credit by a bank.<br/>
Each person is classified as **good** or **bad** credit risks according to the following set of attributes:    
1. **age** (numeric)
2. **sex** (text: male, female)
3. **job** (numeric: 0 - unskilled and non-resident, 1 - unskilled and resident, 2 - skilled, 3 - highly skilled)
4. **housing** (text: own, rent, or free)
5. **years** (numeric, in years)
5. **saving_account** (text - little, moderate, quite rich, rich)
6. **checking_account** (numeric, in DM - Deutsch Mark)
7. **credit_amount** (numeric, in DM)
8. **duration** (numeric, in month)
9. **purpose** (text: car, furniture/equipment, radio/TV, domestic appliances, repairs, education, business, vacation/others)
10. **risk** (target) - (0 - risk, 1 - no risk)

##### 3.a. Load dataset - Run the following (2) code cells:

In [230]:
# 3.a. LOAD DATASET 
# ====>>> YOUR ACTIONS: RUN ONLY
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
load_csv = lambda file_name: pd.read_csv(file_name)
risk_factor_df = load_csv(file_name_csv)
risk_factor_df.head()

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose,risk
0,26,male,2,own,1.000,little,rich,1330,12.000,car,1.000
1,43,male,2,own,2.000,NaN,NaN,2197,24.000,car,1.000
2,28,female,2,rent,1.250,little,little,1403,15.000,car,1.000
3,25,male,0,own,1.500,little,little,2473,18.000,furniture/equipment,0.000
4,29,male,2,rent,0.500,little,NaN,2108,6.000,radio/TV,NaN

#### 3.b. Duplicate Removal - **1 Point**

<u>method name</u>: <b>remove_duplicates</b><br/>

<pre>
Complete the following function to delete duplicated rows and return the dataframe after deletion.

------------
input parameters:
- risk_factor_df - "loan risk factor" dataframe
------------
The return statement should look like the following:
return risk_factor_df
</pre>

#### 3.b. Duplicate Removal - Implement and Run the following code cell:

In [231]:
# 3.b. remove_duplicates (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def remove_duplicates(risk_factor_df):
    # YOUR CODE HERE
    return risk_factor_df.drop_duplicates()

##### 3.b. remove_duplicates - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [233]:
# 3.b. remove_duplicates (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)
risk_factor_df_no_dups = remove_duplicates(risk_factor_df)
risk_factor_df_no_dups.head()
# --- add additional code to check your code if needed:
# YOUR CODE HERE
print('Before remove:', risk_factor_df.shape)
print('After remove:', risk_factor_df_no_dups.shape)

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose,risk
0,26,male,2,own,1.000,little,rich,1330,12.000,car,1.000
1,43,male,2,own,2.000,NaN,NaN,2197,24.000,car,1.000
2,28,female,2,rent,1.250,little,little,1403,15.000,car,1.000
3,25,male,0,own,1.500,little,little,2473,18.000,furniture/equipment,0.000
4,29,male,2,rent,0.500,little,NaN,2108,6.000,radio/TV,NaN

Before remove: (1590, 11)
After remove: (551, 11)

##### 3.b. remove_duplicates - GRADED TESTS - Run the following (2) code cells:

In [234]:
# 3.b. remove_duplicates (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.b.'remove_duplicates' - Test 1 (name: test3b_1-remove_duplicates, points: 0.1) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:
    risk_factor_df_no_dups = remove_duplicates(risk_factor_df)
    risk_factor_df_no_dups.head(2)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise
    
print ("Good Job!\nYou've passed the 1st test for the 'remove_duplicates' function implementation :-)")

3.b.'remove_duplicates' - Test 1 (name: test3b_1-remove_duplicates, points: 0.1) - Sanity

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose,risk
0,26,male,2,own,1.000,little,rich,1330,12.000,car,1.000
1,43,male,2,own,2.000,NaN,NaN,2197,24.000,car,1.000

Good Job!
You've passed the 1st test for the 'remove_duplicates' function implementation :-)

In [235]:
# 3.b. remove_duplicates (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.b.'remove_duplicates' - Test 2 (name: test3b_2-remove_duplicates, points: 0.4)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    risk_factor_df_no_dups = remove_duplicates(risk_factor_df)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert (551, 11) == risk_factor_df_no_dups.shape, "Wrong shape for feature vector dataframe after 'remove_duplicates'"

print ("Good Job!\nYou've passed the 2nd test for the 'remove_duplicates' function implementation :-)")

3.b.'remove_duplicates' - Test 2 (name: test3b_2-remove_duplicates, points: 0.4)
Good Job!
You've passed the 2nd test for the 'remove_duplicates' function implementation :-)

In [236]:
# 3.b. remove_duplicates (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.b.'remove_duplicates' - Test 3 (name: test3b_3-remove_duplicates, points: 0.5)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    risk_factor_df_no_dups = remove_duplicates(risk_factor_df)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert 0 == risk_factor_df_no_dups.duplicated().sum(), "not all duplications where removed"

print ("Good Job!\nYou've passed the 3rd test for the 'remove_duplicates' function implementation :-)")

3.b.'remove_duplicates' - Test 3 (name: test3b_3-remove_duplicates, points: 0.5)
Good Job!
You've passed the 3rd test for the 'remove_duplicates' function implementation :-)

#### 3.c. Decouple Dataset - **1 Point**

<u>method name</u>: <b>decouple_data</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>remove_duplicates</b></br> 

<hr>

<pre>
Complete the following function to return the
 feature vectors DataFrame (X) and a series containing the labels (y).

------------
input parameters:
- risk_factor_df - "loan risk factor" dataframe
------------
The return statement should look like the following:
return X, y
</pre>

#### 3.c. Decouple Dataset - Implement and Run the following code cell:

In [237]:
# 3.c. remove_duplicates (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def decouple_data(risk_factor_df):
    # YOUR CODE HERE
    target_name = 'risk'
    y = risk_factor_df[target_name]
    X = risk_factor_df.drop([target_name], axis=1)
    return X, y

##### 3.c. remove_duplicates - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [238]:
# 3.c. remove_duplicates (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)
df_no_dups = remove_duplicates(risk_factor_df)
X, y = decouple_data(df_no_dups)
# --- add additional code to check your code if needed:
# YOUR CODE HERE
print('X shape:', X.shape)
print('y shape:', y.shape)

X shape: (551, 10)
y shape: (551,)

##### 3.c. decouple_data - GRADED TESTS - Run the following (2) code cells:

In [239]:
# 3.c. decouple_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.c.'decouple_data' - Test 1 (name: test3c_1-decouple_data, points: 0.2) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X.head(3)
    y.head(3)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'decouple_data' function implementation :-)")

3.c.'decouple_data' - Test 1 (name: test3c_1-decouple_data, points: 0.2) - Sanity

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
0,26,male,2,own,1.000,little,rich,1330,12.000,car
1,43,male,2,own,2.000,NaN,NaN,2197,24.000,car
2,28,female,2,rent,1.250,little,little,1403,15.000,car

0   1.000
1   1.000
2   1.000
Name: risk, dtype: float64

Good Job!
You've passed the 1st test for the 'decouple_data' function implementation :-)

In [240]:
# 3.c. decouple_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.c.'decouple_data' - Test 2 (name: test3c_2-decouple_data, points: 0.4)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert (551, 10) == X.shape and 551 == y.shape[0], "Wrong shape for feature vector dataframe or target series frame after 'decouple_data'"

print ("Good Job!\nYou've passed the 2nd test for the 'decouple_data' function implementation :-)")

3.c.'decouple_data' - Test 2 (name: test3c_2-decouple_data, points: 0.4)
Good Job!
You've passed the 2nd test for the 'decouple_data' function implementation :-)

In [241]:
# 3.c. decouple_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.c.'decouple_data' - Test 3 (name: test3c_3-decouple_data, points: 0.4)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

np.testing.assert_array_equal(X.index, y.index, 'X dataframe and y series should have the same index')

print ("Good Job!\nYou've passed the 3rd test for the 'decouple_data' function implementation :-)")

3.c.'decouple_data' - Test 3 (name: test3c_3-decouple_data, points: 0.4)
Good Job!
You've passed the 3rd test for the 'decouple_data' function implementation :-)

#### 3.d. Train Test Split - **1 Point**

<u>method name</u>: <b>split_data</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>remove_duplicates</b></br> 
* <b>decouple_data</b></br> 

<hr>

<pre>
Complete the following function to split the data to train and test while allocating 
20% to the test set with the random state 42 and the flag shuffle=False

------------
input parameters:
- X - "loan risk factor" dataset's feature vectors
- y - "loan risk factor" dataset's labels
------------
The return statement should look like the following:
return X_train, X_test, y_train, y_test
</pre>

#### 3.d. Train Test Split - Implement and Run the following code cell:

In [242]:
# 3.d. split_data (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def split_data(X, y):
    # YOUR CODE HERE
    return train_test_split(X, y, random_state=42, test_size=0.2, shuffle=False)

##### 3.d. split_data - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [243]:
# 3.d. split_data (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)
df_no_dups = remove_duplicates(risk_factor_df)
X, y = decouple_data(df_no_dups)
X_train, X_test, y_train, y_test = split_data(X, y)
# --- add additional code to check your code if needed:
# YOUR CODE HERE

##### 3.d. split_data - GRADED TESTS - Run the following (2) code cells:

In [244]:
# 3.d. split_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.d.'decouple_data' - Test 1 (name: test3d_1-split_data, points: 0.2) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train.head(2)
    y_train.head(2)
    X_test.head(2)
    y_test.head(2)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'split_data' function implementation :-)")

3.d.'decouple_data' - Test 1 (name: test3d_1-split_data, points: 0.2) - Sanity

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
0,26,male,2,own,1.000,little,rich,1330,12.000,car
1,43,male,2,own,2.000,NaN,NaN,2197,24.000,car

0   1.000
1   1.000
Name: risk, dtype: float64

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
825,60,male,1,own,2.000,little,little,1199,24.000,car
831,36,female,2,own,1.500,little,NaN,1028,18.000,car

825   0.000
831   1.000
Name: risk, dtype: float64

Good Job!
You've passed the 1st test for the 'split_data' function implementation :-)

In [245]:
# 3.d. split_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.d.'split_data' - Test 2 (name: test3d_2-split_data, points: 0.4)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X_train, X_test, y_train, y_test = split_data(X, y)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise
    
assert (440, 10) == X_train.shape and (111,10) == X_test.shape, "Wrong shape for feature vectors dataframe X_train or X_test after 'split_data'"
assert 440 == y_train.shape[0] and 111 == y_test.shape[0], "Wrong shape for target series y_train or y_test after 'split_data'"

print ("Good Job!\nYou've passed the 2nd test for the 'split_data' function implementation :-)")

3.d.'split_data' - Test 2 (name: test3d_2-split_data, points: 0.4)
Good Job!
You've passed the 2nd test for the 'split_data' function implementation :-)

In [246]:
# 3.d. split_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.d.'split_data' - Test 3 (name: test3d_3-split_data, points: 0.4)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X_train, X_test, y_train, y_test = split_data(X, y)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

np.testing.assert_array_compare(operator.__ne__, X_train.iloc[:10].index, X_test.iloc[:10].index, "X_train and X_test dataframes should not have the same index after 'split_data'")

np.testing.assert_array_equal(X_train.index, y_train.index, "X_train dataframe and y_train series should have the same index after 'split_data'")    
np.testing.assert_array_equal(X_test.index, y_test.index, "X_test dataframe and y_test series should have the same index after 'split_data'")    

print ("Good Job!\nYou've passed the 3rd test for the 'split_data' function implementation :-)")

3.d.'split_data' - Test 3 (name: test3d_3-split_data, points: 0.4)
Good Job!
You've passed the 3rd test for the 'split_data' function implementation :-)

#### 3.e. Missing Values Handling - **2 Points**

<u>method name</u>: <b>handle_missing_values</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>remove_duplicates</b></br> 
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to handle missing values in the dataset as follows (in this order):    
1. Replace missing values in "saving_account" and "checking_account" columns 
  with the most frequent values in these columns
2. Replace missing values in "credit_amount" with the median
3. Replace missing values in "years" with the average
3. Replace missing values in "duration" with the average
4. Delete Rows with missing values in "risk" column
5. Return the datasets after implementing these steps

*make sure to handle the missing values in test set based on the train set's statistics*

------------
input parameters:
- X_train - "loan risk factor" train dataset's feature vectors
- X_test - "loan risk factor" test dataset's feature vectors
- y_train - "loan risk factor" train dataset's labels
- y_test - "loan risk factor" test dataset's labels
------------
The return statement should look like the following:
return X_train, X_test, y_train, y_test
</pre>

#### 3.e. Missing Values Handling - Implement and Run the following code cell:

In [247]:
# 3.e. handle_missing_values (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def handle_missing_values(X_train, X_test, y_train, y_test):
    # YOUR CODE HERE
    # There might be several most frequent vals. In any case, pick the first one.
    # Prepare a dictionary mapping each column name to the value to fill instead of NaNs
    default_vals_for_nans = {
        'saving_account': X_train.saving_account.mode().iloc[0],  # 1
        'checking_account': X_train.checking_account.mode().iloc[0],  # 1
        'credit_amount': X_train.credit_amount.median(),  # 2
        'years': X_train.years.mean(),  # 3
        'duration': X_train.duration.mean()  # 3
    }
    
    # 4. First drop so we will not do redundant fillings
    # Get the indices with na in target, so we will drop them from y's and X's. 
    # Use this and not dropna(), because dropna() does not return removed indices..
    indices_with_na_in_y_train = y_train[y_train.isna()].index
    indices_with_na_in_y_test = y_test[y_test.isna()].index
    
    X_train_clean = X_train.drop(index=indices_with_na_in_y_train)
    y_train_clean = y_train.drop(index=indices_with_na_in_y_train)
    X_test_clean = X_test.drop(index=indices_with_na_in_y_test)
    y_test_clean = y_test.drop(index=indices_with_na_in_y_test)
    
    # Now that we have already removed redundant rows, fill-in nans
    for df in [X_train_clean, X_test_clean]:
        df.fillna(default_vals_for_nans, inplace=True)
    
    return X_train_clean, X_test_clean, y_train_clean, y_test_clean

##### 3.e. handle_missing_values - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [248]:
# 3.e. handle_missing_values (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)
df_no_dups = remove_duplicates(risk_factor_df)
X, y = decouple_data(df_no_dups)
X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing = split_data(X, y)
X_train, X_test, y_train, y_test = handle_missing_values(X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing)
# --- add additional code to check your code if needed:
# YOUR CODE HERE
print(f'Shape of X_train before cleansing: {X_train_with_missing.shape} and after: {X_train.shape}')
print(f'Shape of X_test before cleansing: {X_test_with_missing.shape} and after: {X_test.shape}')
print(f'Shape of y_train before cleansing: {y_train_with_missing.shape} and after: {y_train.shape}')
print(f'Shape of y_test before cleansing: {y_test_with_missing.shape} and after: {y_test.shape}')

Shape of X_train before cleansing: (440, 10) and after: (432, 10)
Shape of X_test before cleansing: (111, 10) and after: (111, 10)
Shape of y_train before cleansing: (440,) and after: (432,)
Shape of y_test before cleansing: (111,) and after: (111,)

##### 3.e. handle_missing_values - GRADED TESTS - Run the following (2) code cells:

In [249]:
# 3.e. handle_missing_values (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.e.'handle_missing_values' - Test 1 (name: test3e_1-handle_missing_values, points: 0.2) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing = split_data(X, y)
    X_train, X_test, y_train, y_test = handle_missing_values(X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'handle_missing_values' function implementation :-)")

3.e.'handle_missing_values' - Test 1 (name: test3e_1-handle_missing_values, points: 0.2) - Sanity
Good Job!
You've passed the 1st test for the 'handle_missing_values' function implementation :-)

In [250]:
# 3.e. handle_missing_values (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.e.'handle_missing_values' - Test 2 (name: test3e_2-handle_missing_values, points: 0.6)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing = split_data(X, y)
    X_train, X_test, y_train, y_test = handle_missing_values(X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert (432, 10) == X_train.shape and (111,10) == X_test.shape, "Wrong shape for feature vectors dataframe X_train or X_test after 'handle_missing_values'"
assert 432 == y_train.shape[0] and 111 == y_test.shape[0], "Wrong shape for target series y_train or y_test after 'handle_missing_values'"

print ("Good Job!\nYou've passed the 2nd test for the 'handle_missing_values' function implementation :-)")

3.e.'handle_missing_values' - Test 2 (name: test3e_2-handle_missing_values, points: 0.6)
Good Job!
You've passed the 2nd test for the 'handle_missing_values' function implementation :-)

In [251]:
# 3.e. handle_missing_values (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.e.'handle_missing_values' - Test 3 (name: test3e_3-handle_missing_values, points: 0.6)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing = split_data(X, y)
    X_train, X_test, y_train, y_test = handle_missing_values(X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

np.testing.assert_array_equal(X_train.index, y_train.index, "X_train dataframe and y_train series should have the same index after 'handle_missing_values'")    

print ("Good Job!\nYou've passed the 3rd test for the 'handle_missing_values' function implementation :-)")

3.e.'handle_missing_values' - Test 3 (name: test3e_3-handle_missing_values, points: 0.6)
Good Job!
You've passed the 3rd test for the 'handle_missing_values' function implementation :-)

In [252]:
# 3.e. handle_missing_values (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.e.'handle_missing_values' - Test 4 (name: test3e_4-handle_missing_values, points: 0.6)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_dups.csv'
risk_factor_df = load_csv(file_name_csv)

try:    
    df_no_dups = remove_duplicates(risk_factor_df)
    X, y = decouple_data(df_no_dups)
    X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing = split_data(X, y)
    X_train, X_test, y_train, y_test = handle_missing_values(X_train_with_missing, X_test_with_missing, y_train_with_missing, y_test_with_missing)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

np.testing.assert_array_equal(X_test.index, y_test.index, "X_test dataframe and y_test series should have the same index after 'handle_missing_values'")  

print ("Good Job!\nYou've passed the 4th test for the 'handle_missing_values' function implementation :-)")

3.e.'handle_missing_values' - Test 4 (name: test3e_4-handle_missing_values, points: 0.6)
Good Job!
You've passed the 4th test for the 'handle_missing_values' function implementation :-)

#### 3.f. Outlier Removal - **2 Points**

<u>method name</u>: <b>remove_outliers</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to delete outliers in **'age', 'years' 
  'credit_amount' and 'duration'** columns using the 
  IQR (Interquartile Range Rule) we learned in class and return processed datasets
<b>make sure to remove the outliers in test set based on the train set's statistics</b>
 - note we assume the data set used here has no duplications and no missing values
 
------------
input parameters:
- X_train - "loan risk factor" train dataset's feature vectors
- X_test - "loan risk factor" test dataset's feature vectors
- y_train - "loan risk factor" train dataset's labels
- y_test - "loan risk factor" test dataset's labels
------------
The return statement should look like the following:
return X_train, X_test
</pre>

#### 3.f. Outlier Removal - Implement and Run the following code cell:

In [253]:
# 3.f. remove_outliers (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def remove_outliers(X_train, X_test, y_train, y_test):
    # YOUR CODE HERE
    def drop_outliers(X, y):
        # First create a boolean data frame where cells are marked as outliers based on the IQR condition.
        # Second, get a boolean series telling if any of the columns in the boolean data frame was true.
        # Eventually, we end up with the indices of all outliers, ready to drop them.
        outliers_index = X[((X < (Q1 - IQR_range)) | (X > (Q3 + IQR_range))).any(axis=1)].index
        X = X.drop(index=outliers_index)
        y = y.drop(index=outliers_index)
        return X, y
    
    # Gather the columns we need to remove outliers based on, so we can use DataFrame's batch operations
    columns = ['age', 'years', 'credit_amount', 'duration']
    df_train = X_train[columns]
    df_test = X_test[columns]
    
    # Define IQR params based on train data. This will be used by our inner method
    Q1 = df_train.quantile(0.25)
    Q3 = df_train.quantile(0.75)
    IQR = Q3 - Q1
    IQR_range = 1.5 * IQR

    # Perform outliers removal based on stats from X_train.
    X_train, y_train = drop_outliers(X_train, y_train)
    X_test, y_test = drop_outliers(X_test, y_test)
    
    return X_train, X_test, y_train, y_test

##### 3.f. remove_outliers- OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [254]:
# 3.f. remove_outliers (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_nodups_no_missing.csv'
risk_factor_df = load_csv(file_name_csv)
X, y = decouple_data(risk_factor_df)
X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers = split_data(X, y)
X_train, X_test, y_train, y_test = remove_outliers(X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers)

# --- add additional code to check your code if needed:
# YOUR CODE HERE
print(f'Shape of X_train before cleansing: {X_train_with_missing.shape} and after: {X_train.shape}')
print(f'Shape of X_test before cleansing: {X_test_with_missing.shape} and after: {X_test.shape}')
print(f'Shape of y_train before cleansing: {y_train_with_missing.shape} and after: {y_train.shape}')
print(f'Shape of y_test before cleansing: {y_test_with_missing.shape} and after: {y_test.shape}')

Shape of X_train before cleansing: (440, 10) and after: (331, 10)
Shape of X_test before cleansing: (111, 10) and after: (82, 10)
Shape of y_train before cleansing: (440,) and after: (331,)
Shape of y_test before cleansing: (111,) and after: (82,)

##### 3.f. remove_outliers - GRADED TESTS - Run the following (2) code cells:

In [255]:
# 3.f. remove_outliers (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.f.'remove_outliers' - Test 1 (name: test3f_1-remove_outliers, points: 0.2) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_nodups_no_missing.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers = split_data(X, y)
    X_train, X_test, y_train, y_test = remove_outliers(X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'remove_outliers' function implementation :-)")

3.f.'remove_outliers' - Test 1 (name: test3f_1-remove_outliers, points: 0.2) - Sanity
Good Job!
You've passed the 1st test for the 'remove_outliers' function implementation :-)

In [256]:
# 3.f. remove_outliers (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.f.'remove_outliers' - Test 2 (name: test3f_2-remove_outliers, points: 0.6)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_nodups_no_missing.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers = split_data(X, y)
    X_train, X_test, y_train, y_test = remove_outliers(X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert (331, 10) == X_train.shape and (82,10) == X_test.shape, "Wrong shape for feature vectors dataframe X_train or X_test after 'remove_outliers'"
    
print ("Good Job!\nYou've passed the 2nd test for the 'remove_outliers' function implementation :-)")

3.f.'remove_outliers' - Test 2 (name: test3f_2-remove_outliers, points: 0.6)
Good Job!
You've passed the 2nd test for the 'remove_outliers' function implementation :-)

In [257]:
# 3.f. remove_outliers (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.f.'remove_outliers' - Test 3 (name: test3f_3-remove_outliers, points: 0.6)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_nodups_no_missing.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers = split_data(X, y)
    X_train, X_test, y_train, y_test = remove_outliers(X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert 331 == y_train.shape[0] and 82 == y_test.shape[0], "Wrong shape for target series y_train or y_test after 'remove_outliers'"
    
print ("Good Job!\nYou've passed the 3rd test for the 'remove_outliers' function implementation :-)")

3.f.'remove_outliers' - Test 3 (name: test3f_3-remove_outliers, points: 0.6)
Good Job!
You've passed the 3rd test for the 'remove_outliers' function implementation :-)

In [258]:
# 3.f. remove_outliers (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.f.'remove_outliers' - Test 4 (name: test3f_4-remove_outliers, points: 0.6)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_nodups_no_missing.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers = split_data(X, y)
    X_train, X_test, y_train, y_test = remove_outliers(X_train_with_outliers, X_test_with_outliers, y_train_with_outliers, y_test_with_outliers)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise



np.testing.assert_array_compare(operator.__ne__, X_train.iloc[:10].index, X_test.iloc[:10].index, "X_train and X_test dataframes should not have the same index after 'split_data'")

np.testing.assert_array_equal(X_train.index, y_train.index, "X_train dataframe and y_train series should have the same index after 'split_data'")    
np.testing.assert_array_equal(X_test.index, y_test.index, "X_test dataframe and y_test series should have the same index after 'split_data'")    
    
print ("Good Job!\nYou've passed the 4th test for the 'remove_outliers' function implementation :-)")

3.f.'remove_outliers' - Test 4 (name: test3f_4-remove_outliers, points: 0.6)
Good Job!
You've passed the 4th test for the 'remove_outliers' function implementation :-)

#### 3.g. Scaling - **2 Points**

<u>method name</u>: <b>scale_data</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to scale **'age', 'years', 'credit_amount' and 
  'duration'** columns to be in the range [0, 1] using Sklearn MinMaxScaler  
  learned in class and return scaled datasets
  - use the feature_range parameter to set a range of the scale feature_range=(new_min,new_max)
  

*make sure to scale the data in test set based on the train set's statistics*

------------
input parameters:
- X_train - "loan risk factor" train dataset's feature vectors
- X_test - "loan risk factor" test dataset's feature vectors
------------
The return statement should look like the following:
return X_train, X_test
</pre>

#### 3.g. Scaling - Implement and Run the following code cell:

In [259]:
# 3.g. scale_data (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def scale_data(X_train, X_test):
    # YOUR CODE HERE
    # Gather the columns we need to remove outliers based on, so we can use DataFrame's batch operations
    columns = ['age', 'years', 'credit_amount', 'duration']
    df_train = X_train[columns]
    df_test = X_test[columns]
    
    # Scale dataframe with the desired columns
    minmax_scaler = MinMaxScaler(feature_range=(0, 1))
    X_train_minmax = pd.DataFrame(minmax_scaler.fit_transform(df_train), columns=df_train.columns, index=df_train.index)
    X_test_minmax = pd.DataFrame(minmax_scaler.transform(df_test), columns=df_test.columns, index=df_test.index)
    
    # Replace the columns with those we have just scaled
    # Use the '**' operator to unpack the dictionary of columns into keyword arguments in function call. 
    # So, instead of having to write the column names manually like this:
    # X_train = X_train.assign(age=X_train_minmax.age, years=X_train_minmax.years, credit_amount=X_train_minmax.credit_amount, duration=X_train_minmax.duration)
    # Just rely on the columns in X_train_minmax, generically.
    X_train = X_train.assign(**X_train_minmax.to_dict(orient='series'))
    X_test = X_test.assign(**X_test_minmax.to_dict(orient='series'))
    
    return X_train, X_test

##### 3.g. scale_data- OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [260]:
# 3.g. scale_data (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed.csv'
risk_factor_df = load_csv(file_name_csv)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)
X_train_scaled, X_test_scaled = scale_data(X_train, X_test)
# --- add additional code to check your code if needed:
# YOUR CODE HERE
print('Before (Train):')
X_train.head(3)
print('After (Train):')
X_train_scaled.head(3)
print('Before (Test):')
X_test.head(3)
print('After (Test):')
X_test_scaled.head(3)

Before (Train):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
0,20,female,1,rent,2.000,little,moderate,2718,24.000,car
1,22,male,2,own,1.000,rich,moderate,1007,12.000,car
2,36,male,2,own,3.000,little,little,6304,36.000,business

After (Train):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
0,0.022,female,1,rent,0.455,little,moderate,0.279,0.455,car
1,0.067,male,2,own,0.182,rich,moderate,0.083,0.182,car
2,0.378,male,2,own,0.727,little,little,0.688,0.727,business

Before (Test):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
305,49,male,1,own,1.000,little,little,2096,12.000,education
306,30,male,2,own,1.000,little,moderate,639,12.000,repairs
307,54,male,2,own,4.000,little,little,3051,48.000,domestic appliances

After (Test):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
305,0.667,male,1,own,0.182,little,little,0.208,0.182,education
306,0.244,male,2,own,0.182,little,moderate,0.041,0.182,repairs
307,0.778,male,2,own,1.000,little,little,0.317,1.000,domestic appliances

##### 3.g. scale_data - GRADED TESTS - Run the following (2) code cells:

In [261]:
# 3.g. scale_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.g.'scale_data' - Test 1 (name: test3g_1-scale_data, points: 0.2) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_scaled, X_test_scaled = scale_data(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'scale_data' function implementation :-)")

3.g.'scale_data' - Test 1 (name: test3g_1-scale_data, points: 0.2) - Sanity
Good Job!
You've passed the 1st test for the 'scale_data' function implementation :-)

In [262]:
# 3.g. scale_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.g.'scale_data' - Test 2 (name: test3g_2-scale_data, points: 0.5)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_scaled, X_test_scaled = scale_data(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise
    
assert (305, 10) == X_train_scaled.shape and (77,10) == X_test_scaled.shape, "Wrong shape for feature vectors dataframe X_train_scaled or X_test_scaled after 'scale_data'"
assert 305 == y_train.shape[0] and 77 == y_test.shape[0], "Wrong shape for target series y_train_no_outliers or y_test_no_outliers after 'scale_data'"    

print ("Good Job!\nYou've passed the 2nd test for the 'scale_data' function implementation :-)")

3.g.'scale_data' - Test 2 (name: test3g_2-scale_data, points: 0.5)
Good Job!
You've passed the 2nd test for the 'scale_data' function implementation :-)

In [263]:
# 3.g. scale_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.g.'scale_data' - Test 3 (name: test3g_3-scale_data, points: 0.6)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_scaled, X_test_scaled = scale_data(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

for col in ['age', 'years', 'credit_amount', 'duration']:
    assert X_train_scaled[col].between(-0.001, 1.001).all(), "Wrong scale for feature vectors dataframe X_train_scaled after 'scale_data', must be in the range [0, 1]"

print ("Good Job!\nYou've passed the 3rd test for the 'scale_data' function implementation :-)")

3.g.'scale_data' - Test 3 (name: test3g_3-scale_data, points: 0.6)
Good Job!
You've passed the 3rd test for the 'scale_data' function implementation :-)

In [264]:
# 3.g. scale_data (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.g.'scale_data' - Test 4 (name: test3g_4-scale_data, points: 0.7)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_scaled, X_test_scaled = scale_data(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

for col in ['age', 'years', 'credit_amount', 'duration']:    
    assert X_test_scaled[col].between(-0.1, 1.1).all(), "Wrong scale for feature vectors dataframe X_test_scaled after 'scale_data', must be in the range [0, 1]"  

print ("Good Job!\nYou've passed the 4th test for the 'scale_data' function implementation :-)")

3.g.'scale_data' - Test 4 (name: test3g_4-scale_data, points: 0.7)
Good Job!
You've passed the 4th test for the 'scale_data' function implementation :-)

#### 3.h. Remove Correlated - **2.5 Points**

<u>method name</u>: <b>remove_correlated</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

Complete the following function to make sure there are no correlated columns <br/>
  (**absolute value of correlation > 0.95**) using pandas <br/>
  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html - if so,<br/>
  make sure only one of the correlated columns stay and return dataframe<br/>

Make sure removing the last correlated columns,<br/>
 for example: in case there are 3 columns **X, Y, Z** and **X, Z**<br/>
  are correlated - remove **Z** column.<br/>

*make sure to remove correlated columns in test set based on the train set's statistics*<br/>

------------<br/>
input parameters:<br/>
- X_train - "loan risk factor" train dataset's feature vectors<br/>
- X_test - "loan risk factor" test dataset's feature vectors<br/>
------------<br/>
The return statement should look like the following:<br/>
return X_train, X_test<br/>

#### 3.h. Remove Correlated - Implement and Run the following code cell:

In [265]:
# 3.h. remove_correlated (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def remove_correlated(X_train, X_test):
    # YOUR CODE HERE
    # Create correlation matrix
    df_correlation = X_train.corr().abs()
    
    # Construct a lower trinagular matrix out of the correlation matrix, to avoid of having the same feature pair twice.
    # T T T T
    # F T T T
    # F F T T
    # F F F T
    mask = np.triu(np.ones(df_correlation.shape)).astype(bool)

    # Select lower triangle of the correlation matrix
    # Mask contains False at the bottom triangular of the matrix, and True otherwise. Hence use ~ to switch between False and True.
    # This way we can keep each correlation once, and not twice (x1 with x2, and x2 with x1. Same features counted twice)
    lower = df_correlation.where(~mask)

    # Find features with correlation greater than 0.95
    # correlated_indices contains pairs, representing coordinate of cell with correlation greater than 0.95. We'll need the higher index
    # of each pair, which represents the column we are about to drop.
    thresh = 0.95
    correlated_indices = np.argwhere(lower[lower > thresh].notnull().values).tolist()
    correlated_features = [lower.columns[max(x)] for x in correlated_indices]

    # Drop features 
    X_train = X_train.drop(correlated_features, axis=1)
    X_test = X_test.drop(correlated_features, axis=1)
    
    return X_train, X_test

##### 3.h. remove_correlated - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [266]:
# 3.h. remove_correlated (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'
risk_factor_df = load_csv(file_name_csv)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)
X_train_indep, X_test_indep = remove_correlated(X_train, X_test)
# --- add additional code to check your code if needed:
# YOUR CODE HERE
print('Before (Train):')
X_train.head(3)
print('After (Train):')
X_train_indep.head(3)
print('Before (Test):')
X_test.head(3)
print('After (Test):')
X_test_indep.head(3)

Before (Train):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
0,-0.492,female,2,own,-0.770,little,little,-0.299,-0.770,radio/TV
1,-1.088,female,2,rent,-1.047,little,little,-0.786,-1.047,domestic appliances
2,-0.492,male,1,own,0.341,little,moderate,-0.215,0.341,furniture/equipment

After (Train):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,purpose
0,-0.492,female,2,own,-0.770,little,little,-0.299,radio/TV
1,-1.088,female,2,rent,-1.047,little,little,-0.786,domestic appliances
2,-0.492,male,1,own,0.341,little,moderate,-0.215,furniture/equipment

Before (Test):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
389,-0.293,female,2,own,2.561,little,little,2.090,2.561,radio/TV
390,-0.989,male,2,rent,0.896,moderate,little,1.793,0.896,car
391,-0.293,male,2,own,-1.325,moderate,moderate,-0.675,-1.325,business

After (Test):

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,purpose
389,-0.293,female,2,own,2.561,little,little,2.090,radio/TV
390,-0.989,male,2,rent,0.896,moderate,little,1.793,car
391,-0.293,male,2,own,-1.325,moderate,moderate,-0.675,business

##### 3.h. remove_correlated - GRADED TESTS - Run the following (2) code cells:

In [267]:
# 3.h. remove_correlated (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.h.'remove_correlated' - Test 1 (name: test3h_1-remove_correlated, points: 0.1) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_indep, X_test_indep = remove_correlated(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'remove_correlated' function implementation :-)")

3.h.'remove_correlated' - Test 1 (name: test3h_1-remove_correlated, points: 0.1) - Sanity
Good Job!
You've passed the 1st test for the 'remove_correlated' function implementation :-)

In [268]:
# 3.h. remove_correlated (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.h.'remove_correlated' - Test 2 (name: test3h_2-remove_correlated, points: 1.2)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_indep, X_test_indep = remove_correlated(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert (389, 9) == X_train_indep.shape and (98,9) == X_test_indep.shape, "Wrong shape for feature vectors dataframe X_train_indep or X_test_indep after 'remove_correlated'"

print ("Good Job!\nYou've passed the 2nd test for the 'remove_correlated' function implementation :-)")

3.h.'remove_correlated' - Test 2 (name: test3h_2-remove_correlated, points: 1.2)
Good Job!
You've passed the 2nd test for the 'remove_correlated' function implementation :-)

In [269]:
# 3.h. remove_correlated (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.h.'remove_correlated' - Test 3 (name: test3h_3-remove_correlated, points:1.2)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_indep, X_test_indep = remove_correlated(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise


assert 'years' in X_train_indep.columns and 'years' in X_test_indep.columns, "Wrong set of columns in feature vectors dataframe 'X_train_indep' or 'X_test_indep' after 'remove_correlated'"

print ("Good Job!\nYou've passed the 3rd test for the 'remove_correlated' function implementation :-)")

3.h.'remove_correlated' - Test 3 (name: test3h_3-remove_correlated, points:1.2)
Good Job!
You've passed the 3rd test for the 'remove_correlated' function implementation :-)

#### 3.i. Categorical Columns Handling - **2.5 Points**


<u>method name</u>: <b>handle_categorical_columns</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to transform categorical columns
 as a one-hot numerical columns (using pd.get_dummies) and return dataframe

*make sure to transform the categorized columns in test set based on the train set's transformation*
------------
input parameters:
- X_train - "loan risk factor" train dataset's feature vectors
- X_test - "loan risk factor" test dataset's feature vectors
------------
The return statement should look like the following:
return X_train, X_test
</pre>

#### 3.i. Categorical Columns Handling - Implement and Run the following code cell:

In [270]:
# 3.i. handle_categorical_columns (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def handle_categorical_columns(X_train, X_test):
    # YOUR CODE HERE
    prefix = ['is', 'is_housing', 'saving_account', 'checking_account', 'purpose']
    X_train = pd.get_dummies(X_train, prefix=prefix)
    X_test = pd.get_dummies(X_test, prefix=prefix)
    return X_train, X_test

##### 3.i. handle_categorical_columns - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [271]:
# 3.i. handle_categorical_columns (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'
risk_factor_df = load_csv(file_name_csv)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)
X_train_to_numeric, X_test_to_numeric = handle_categorical_columns(X_train, X_test)
# --- add additional code to check your code if needed:
# YOUR CODE HERE
X_train.head()
X_test.head()
X_train_to_numeric.head()
X_test_to_numeric.head()

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
0,-0.492,female,2,own,-0.770,little,little,-0.299,-0.770,radio/TV
1,-1.088,female,2,rent,-1.047,little,little,-0.786,-1.047,domestic appliances
2,-0.492,male,1,own,0.341,little,moderate,-0.215,0.341,furniture/equipment
3,-0.691,female,0,own,-0.215,little,little,-1.039,-0.215,education
4,-0.194,male,2,own,-0.770,little,moderate,1.736,-0.770,car

,age,sex,job,housing,years,saving_account,checking_account,credit_amount,duration,purpose
389,-0.293,female,2,own,2.561,little,little,2.090,2.561,radio/TV
390,-0.989,male,2,rent,0.896,moderate,little,1.793,0.896,car
391,-0.293,male,2,own,-1.325,moderate,moderate,-0.675,-1.325,business
392,-0.492,male,2,own,1.451,little,little,2.157,1.451,education
393,0.204,male,2,own,1.451,little,little,1.854,1.451,business

,age,job,years,credit_amount,duration,is_female,is_male,is_housing_free,is_housing_own,is_housing_rent,saving_account_little,saving_account_moderate,saving_account_quite rich,saving_account_rich,checking_account_little,checking_account_moderate,checking_account_rich,purpose_business,purpose_car,purpose_domestic appliances,purpose_education,purpose_furniture/equipment,purpose_radio/TV,purpose_repairs,purpose_vacation/others
0,-0.492,2,-0.770,-0.299,-0.770,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
1,-1.088,2,-1.047,-0.786,-1.047,1,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0
2,-0.492,1,0.341,-0.215,0.341,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0
3,-0.691,0,-0.215,-1.039,-0.215,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0
4,-0.194,2,-0.770,1.736,-0.770,0,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0

,age,job,years,credit_amount,duration,is_female,is_male,is_housing_free,is_housing_own,is_housing_rent,saving_account_little,saving_account_moderate,saving_account_quite rich,saving_account_rich,checking_account_little,checking_account_moderate,checking_account_rich,purpose_business,purpose_car,purpose_domestic appliances,purpose_education,purpose_furniture/equipment,purpose_radio/TV,purpose_repairs,purpose_vacation/others
389,-0.293,2,2.561,2.090,2.561,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
390,-0.989,2,0.896,1.793,0.896,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
391,-0.293,2,-1.325,-0.675,-1.325,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0
392,-0.492,2,1.451,2.157,1.451,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0
393,0.204,2,1.451,1.854,1.451,0,1,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0

##### 3.i. handle_categorical_columns - GRADED TESTS - Run the following (2) code cells:

In [272]:
# 3.i. handle_categorical_columns (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.i.'handle_categorical_columns' - Test 1 (name: test3i_1-handle_categ_cols, points: 0.1) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_to_numeric, X_test_to_numeric = handle_categorical_columns(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'handle_categorical_columns' function implementation :-)")

3.i.'handle_categorical_columns' - Test 1 (name: test3i_1-handle_categ_cols, points: 0.1) - Sanity
Good Job!
You've passed the 1st test for the 'handle_categorical_columns' function implementation :-)

In [273]:
# 3.i. handle_categorical_columns (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.i.'handle_categorical_columns' - Test 2 (name: test3i_2-handle_categ_cols, points: 0.7)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_to_numeric, X_test_to_numeric = handle_categorical_columns(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise
    
assert (389, 25) == X_train_to_numeric.shape, "Wrong shape for feature vectors dataframe X_train_to_numeric or X_test_to_numeric after 'handle_categorical_columns'"
    
print ("Good Job!\nYou've passed the 2nd test for the 'handle_categorical_columns' function implementation :-)")

3.i.'handle_categorical_columns' - Test 2 (name: test3i_2-handle_categ_cols, points: 0.7)
Good Job!
You've passed the 2nd test for the 'handle_categorical_columns' function implementation :-)

In [274]:
# 3.i. handle_categorical_columns (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("3.i.'handle_categorical_columns' - Test 3 (name: test3i_3-handle_categ_cols, points: 0.7)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_risk_factor_cleansed_scaled_1.csv'

try:    
    risk_factor_df = load_csv(file_name_csv)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    X_train_to_numeric, X_test_to_numeric = handle_categorical_columns(X_train, X_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert (98, 25) == X_test_to_numeric.shape, "Wrong shape for feature vectors dataframe X_train_to_numeric or X_test_to_numeric after 'handle_categorical_columns'"
    
print ("Good Job!\nYou've passed the 3rd test for the 'handle_categorical_columns' function implementation :-)")

3.i.'handle_categorical_columns' - Test 3 (name: test3i_3-handle_categ_cols, points: 0.7)
Good Job!
You've passed the 3rd test for the 'handle_categorical_columns' function implementation :-)

[Go to the beginning of the assignment](#home)
<a id="model_implement"></a>
###  4. Model Implementation 
#### **3 Points**

Your goal in this section is to build a machine learning model on all of the columns except the target column `risk` to predict `risk` binary label.

In essence, the `risk` column is our **target variable** (also called `y` or `labels`) and the rest of the other columns are our independent variables (also called `data` or `X`).

And since our target variable is one thing or another (risk or no-risk), we know our problem is a classification problem (classifying whether something is one thing or another).

<hr>

<b><u>This section includes the following</u></b>:
* 4.a. Build KNN model             (1 point)
* 4.b. Build Naive Bayes model     (1 point)
* 4.c. Build Decision Tree model   (1 point)

#### 4.a. Train KNN **- 1 Point**

<u>method name</u>: <b>train_knn</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function as follows:    
1. Create a KNN classifer instance using 3 neighbours (leave other parameters as default)
2. Train the model using the function parameters "**X_train**"
 (the train feature vectors) and "**y_train**" (the train ground-truth labels)
3. Return the trained model

------------
input parameters:
- X_train - "loan risk factor" train set feature vectors
- y_train - "loan risk factor" train set labels
------------
The return statement should look like the following:
return clf
</pre>

#### 4.a. Train KNN - Implement and Run the following code cell:

In [275]:
# 4.a. train_knn (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def train_knn(X_train, y_train):
    # YOUR CODE HERE
    return KNeighborsClassifier(n_neighbors=3).fit(X_train, y_train)

##### 4.a. train_knn  - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [276]:
# 4.a. train_knn (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'
risk_factor_df = load_csv(file_name_preprocessed)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)
knn_clf = train_knn(X_train, y_train)
# --- add additional code to check your code if needed:
# YOUR CODE HERE

##### 4.a. train_knn - GRADED TESTS - Run the following (2) code cells:

In [277]:
# 4.a. train_knn (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.a.'train_knn' - Test 1 (name: test4a_1-train_knn, points: 0.1) - Sanity")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    knn_clf = train_knn(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'train_knn' function implementation :-)")

4.a.'train_knn' - Test 1 (name: test4a_1-train_knn, points: 0.1) - Sanity
Good Job!
You've passed the 1st test for the 'train_knn' function implementation :-)

In [278]:
# 4.a. train_knn (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.a.'train_knn' - Test 2 (name: test4a_2-train_knn, points: 0.4)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    knn_clf = train_knn(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert isinstance(knn_clf, KNeighborsClassifier), "Returned trained KNN model must be of type 'KNeighborsClassifier' after invoking the function 'train_knn'"

print ("Good Job!\nYou've passed the 1st test for the 'train_knn' function implementation :-)")

4.a.'train_knn' - Test 2 (name: test4a_2-train_knn, points: 0.4)
Good Job!
You've passed the 1st test for the 'train_knn' function implementation :-)

In [279]:
# 4.a. train_knn (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.a.'train_knn' - Test 3 (name: test4a_3-train_knn, points: 0.5)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    knn_clf = train_knn(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert 3==knn_clf.n_neighbors, "number of neighbors should be 3"

print ("Good Job!\nYou've passed the 1st test for the 'train_knn' function implementation :-)")

4.a.'train_knn' - Test 3 (name: test4a_3-train_knn, points: 0.5)
Good Job!
You've passed the 1st test for the 'train_knn' function implementation :-)

#### 4.b. Train Naive Bayes **- 1 Point**

<u>method name</u>: <b>train_naive_bayes</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function as follows:    
1. Create a Naive Bayes classifer instance (leave all parameters as default)
2. Train the model using the function parameters "**X_train**"
 (the train feature vectors) and "**y_train**" (the train ground-truth labels)
3. Return the trained model

------------
input parameters:
- X_train - "loan risk factor" train set feature vectors
- y_train - "loan risk factor" train set labels
------------
The return statement should look like the following:
return clf
</pre>

#### 4.b. Train Naive Bayes - Implement and Run the following code cell:

In [280]:
# 4.b. train_naive_bayes (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def train_naive_bayes(X_train, y_train):
    # YOUR CODE HERE
    return GaussianNB().fit(X_train, y_train)

##### 4.b. train_naive_bayes  - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [284]:
# 4.b. train_naive_bayes (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'
risk_factor_df = load_csv(file_name_preprocessed)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)
nb_clf = train_naive_bayes(X_train, y_train)
# --- add additional code to check your code if needed:
# YOUR CODE HERE
train_naive_bayes(X_train, y_train)

GaussianNB()

##### 4.b. train_naive_bayes - GRADED TESTS - Run the following (2) code cells:

In [285]:
# 4.b. train_naive_bayes (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.b.'train_naive_bayes' - Test 1 (name: test4b_1-train_naive_bayes, points: 0.2) - Sanity")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    nb_clf = train_naive_bayes(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'train_naive_bayes' function implementation :-)")

4.b.'train_naive_bayes' - Test 1 (name: test4b_1-train_naive_bayes, points: 0.2) - Sanity
Good Job!
You've passed the 1st test for the 'train_naive_bayes' function implementation :-)

In [286]:
# 4.b. train_naive_bayes (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.b.'train_naive_bayes' - Test 2 (name: test4b_2-train_naive_bayes, points: 0.8)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    nb_clf = train_naive_bayes(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert isinstance(nb_clf, GaussianNB), "Returned trained Naive Bayes model must be of type 'GaussianNB' after invoking the function 'train_naive_bayes'"
    
print ("Good Job!\nYou've passed the 2nd test for the 'train_naive_bayes' function implementation :-)")

4.b.'train_naive_bayes' - Test 2 (name: test4b_2-train_naive_bayes, points: 0.8)
Good Job!
You've passed the 2nd test for the 'train_naive_bayes' function implementation :-)

#### 4.c. Train Decision Tree **- 1 Point**

<u>method name</u>: <b>train_decision_tree</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function as follows:    
1. Create a Decision Tree classifer instance with "**max_depth**" param **3** and 
"**min_samples_split**" param as **20** (leave all other parameters as default)
2. Train the model using the function parameters "**X_train**"
 (the train feature vectors) and "**y_train**" (the train ground-truth labels)
3. Return the trained model

------------
input parameters:
- X_train - "loan risk factor" train set feature vectors
- y_train - "loan risk factor" train set labels
------------
The return statement should look like the following:
return clf
</pre>

#### 4.c. Train Decision Tree - Implement and Run the following code cell:

In [287]:
# 4.c. train_naive_bayes (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def train_decision_tree(X_train, y_train):
    # YOUR CODE HERE
    return DecisionTreeClassifier(max_depth=3, min_samples_split=20).fit(X_train, y_train)

##### 4.c. train_decision_tree - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [288]:
# 4.c. train_decision_tree (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'
risk_factor_df = load_csv(file_name_preprocessed)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)
dt_clf = train_decision_tree(X_train, y_train)

# --- add additional code to check your code if needed:
# YOUR CODE HERE
train_decision_tree(X_train, y_train)

DecisionTreeClassifier(max_depth=3, min_samples_split=20)

##### 4.c. train_decision_tree - GRADED TESTS - Run the following (2) code cells:

In [289]:
# 4.c. train_decision_tree (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.c.'train_decision_tree' - Test 1 (name: test4c_1-train_decision_tree, points: 0.1) - Sanity")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    dt_clf = train_decision_tree(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'train_decision_tree' function implementation :-)")

4.c.'train_decision_tree' - Test 1 (name: test4c_1-train_decision_tree, points: 0.1) - Sanity
Good Job!
You've passed the 1st test for the 'train_decision_tree' function implementation :-)

In [290]:
# 4.c. train_decision_tree (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.c.'train_decision_tree' - Test 2 (name: test4c_2-train_decision_tree, points: 0.4)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    dt_clf = train_decision_tree(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert isinstance(dt_clf, DecisionTreeClassifier), "Returned trained Decision Tree model must be of type 'DecisionTreeClassifier' after invoking the function 'train_decision_tree'"

print ("Good Job!\nYou've passed the 2nd test for the 'train_decision_tree' function implementation :-)")

4.c.'train_decision_tree' - Test 2 (name: test4c_2-train_decision_tree, points: 0.4)
Good Job!
You've passed the 2nd test for the 'train_decision_tree' function implementation :-)

In [291]:
# 4.c. train_decision_tree (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("4.c.'train_decision_tree' - Test 3 (name: test4c_3-train_decision_tree, points: 0.5)")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    dt_clf = train_decision_tree(X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert 3==dt_clf.max_depth and 20==dt_clf.min_samples_split, "wrong parameters set for 'train_decision_tree'"

print ("Good Job!\nYou've passed the 3rd test for the 'train_decision_tree' function implementation :-)")

4.c.'train_decision_tree' - Test 3 (name: test4c_3-train_decision_tree, points: 0.5)
Good Job!
You've passed the 3rd test for the 'train_decision_tree' function implementation :-)

[Go to the beginning of the assignment](#home)
<a id="evaluation"></a>
### 5. Model Evaluation - **2 Points**
Model Evaluation is an integral part of the model development process. It helps to find the best model that represents our data and how well the chosen model will work in the future.

Your goal in this section is to evaluate your trained model using few evaluation methods learned in class on your test set

<hr>

<b><u>This section includes the following</u></b>:
* 5.a. Accuracy                  (1 point)
* 5.b. cross validation accuracy (1 point)

#### 5.a. Accuracy - **1 Point**

<u>method name</u>: <b>evaluate_accuracy</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to calculate the accuracy score and return it

------------
input parameters:
- clf - Trained classifier
- X_test - Test set to evaluate the trained model on
- y_test - Test ground-truth labels to compare to predicted labels
------------
The return statement should look like the following:
return accuracy
</pre>

#### 5.a. Accuracy  - Implement and Run the following code cell:

In [292]:
# 5.a. evaluate_accuracy (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def evaluate_accuracy(clf, X_test, y_test):
    # YOUR CODE HERE
    # Predict with the test data and return accuracy score
    y_pred = clf.predict(X_test)
    return accuracy_score(y_true=y_test, y_pred=y_pred)

##### 5.a. evaluate_accuracy - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [293]:
# 5.a. evaluate_accuracy (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'
risk_factor_df = load_csv(file_name_preprocessed)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)
evaluate_accuracy(knn_clf, X_test, y_test)

# --- add additional code to check your code if needed:
# YOUR CODE HERE

0.5510204081632653

##### 5.a. evaluate_accuracy - GRADED TESTS - Run the following (2) code cells:

In [294]:
# 5.a. evaluate_accuracy (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("5.a.'evaluate_accuracy' - Test 1 (name: test5a_1-evaluate_accuracy, points: 0.1) - Sanity")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    knn_acc_score = evaluate_accuracy(knn_clf, X_test, y_test)
    nb_acc_score = evaluate_accuracy(nb_clf, X_test, y_test)
    dt_acc_score = evaluate_accuracy(dt_clf, X_test, y_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'evaluate_accuracy' function implementation :-)")

5.a.'evaluate_accuracy' - Test 1 (name: test5a_1-evaluate_accuracy, points: 0.1) - Sanity
Good Job!
You've passed the 1st test for the 'evaluate_accuracy' function implementation :-)

In [295]:
# 5.a. evaluate_accuracy (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("5.a.'evaluate_accuracy' - Test 2 (name: test5a_2-evaluate_accuracy, points: 0.1)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    knn_acc_score = evaluate_accuracy(knn_clf, X_test, y_test)
    nb_acc_score = evaluate_accuracy(nb_clf, X_test, y_test)
    dt_acc_score = evaluate_accuracy(dt_clf, X_test, y_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert 0.53 < knn_acc_score < 0.58, "Wrong accuracy score for KNN model using the preprocessed data after training, please check preprocessing and training process based on the instructions"

print ("Good Job!\nYou've passed the 2nd test for the 'evaluate_accuracy' function implementation :-)")

5.a.'evaluate_accuracy' - Test 2 (name: test5a_2-evaluate_accuracy, points: 0.1)
Good Job!
You've passed the 2nd test for the 'evaluate_accuracy' function implementation :-)

In [296]:
# 5.a. evaluate_accuracy (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("5.a.'evaluate_accuracy' - Test 3 (name: test5a_3-evaluate_accuracy, points: 0.4)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    knn_acc_score = evaluate_accuracy(knn_clf, X_test, y_test)
    nb_acc_score = evaluate_accuracy(nb_clf, X_test, y_test)
    dt_acc_score = evaluate_accuracy(dt_clf, X_test, y_test)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert 0.52 < dt_acc_score < 0.57, "Wrong accuracy score for Decision Tree model using the preprocessed data after training, please check preprocessing and training process based on the instructions"

print ("Good Job!\nYou've passed the 3rd test for the 'evaluate_accuracy' function implementation :-)")

5.a.'evaluate_accuracy' - Test 3 (name: test5a_3-evaluate_accuracy, points: 0.4)
Good Job!
You've passed the 3rd test for the 'evaluate_accuracy' function implementation :-)

#### 5.b. Cross Validation - Accuracy - **1 Point**

<u>method name</u>: <b>evaluate_accuracy_cross_validation</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to calculate the 10-fold cross-validation mean accuracy score and return it

------------
input parameters:
- clf - **Untrained** classifier instance (with default params)
- X - All dataset's processed feature vectors 
- y - All dataset's processed targets/labels

------------
The return statement should look like the following:
return mean_accuracy

For test purposes use 'random_state=42' in the Decision Tree classifier instance (DecisionTreeClassifier(random_state=42))

#### 5.b. Cross Validation - Accuracy  - Implement and Run the following code cell:

In [297]:
# 5.b. evaluate_accuracy_cross_validation (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def evaluate_accuracy_cross_validation(clf, X, y):
    # YOUR CODE HERE
    return cross_val_score(clf, X, y, cv=10).mean()

##### 5.b. evaluate_accuracy_cross_validation - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [298]:
# 5.b. evaluate_accuracy_cross_validation (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'
risk_factor_df = load_csv(file_name_preprocessed)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)

# --- add additional code to check your code if needed:
# YOUR CODE HERE
X = pd.concat([X_train, X_test])
y = pd.concat([y_train, y_test])
evaluate_accuracy_cross_validation(KNeighborsClassifier(20), X, y)

0.5915391156462585

##### 5.b. evaluate_accuracy_cross_validation - GRADED TESTS - Run the following (2) code cells:

In [299]:
# 5.b. evaluate_accuracy_cross_validation (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("5.b.'evaluate_accuracy_cross_validation' - Test 1 (name: test5b_1-evaluate_accuracy_cv, points: 0.2) - Sanity")

file_name_csv = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    X = pd.concat([X_train, X_test])
    y = pd.concat([y_train, y_test])

    knn_cv_acc_score = evaluate_accuracy_cross_validation(KNeighborsClassifier(), X, y)
    nb_cv_acc_score = evaluate_accuracy_cross_validation(GaussianNB(), X, y)
    dt_cv_acc_score = evaluate_accuracy_cross_validation(DecisionTreeClassifier(random_state=42), X, y)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'evaluate_accuracy_cross_validation' function implementation :-)")

5.b.'evaluate_accuracy_cross_validation' - Test 1 (name: test5b_1-evaluate_accuracy_cv, points: 0.2) - Sanity
Good Job!
You've passed the 1st test for the 'evaluate_accuracy_cross_validation' function implementation :-)

In [300]:
# 5.b. evaluate_accuracy_cross_validation (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("5.b.'evaluate_accuracy_cross_validation' - Test 2 (name: test5b_2-evaluate_accuracy_cv, points: 0.4)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    X = pd.concat([X_train, X_test])
    y = pd.concat([y_train, y_test])

    knn_cv_acc_score = evaluate_accuracy_cross_validation(KNeighborsClassifier(), X, y)
    nb_cv_acc_score = evaluate_accuracy_cross_validation(GaussianNB(), X, y)
    dt_cv_acc_score = evaluate_accuracy_cross_validation(DecisionTreeClassifier(random_state=42), X, y) 
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise
    
assert 0.53 < knn_cv_acc_score < 0.58, "Wrong cross-validation accuracy score for KNN model using the preprocessed data after training, please check preprocessing and training process based on the instructions"

print ("Good Job!\nYou've passed the 2nd test for the 'evaluate_accuracy_cross_validation' function implementation :-)")

5.b.'evaluate_accuracy_cross_validation' - Test 2 (name: test5b_2-evaluate_accuracy_cv, points: 0.4)
Good Job!
You've passed the 2nd test for the 'evaluate_accuracy_cross_validation' function implementation :-)

In [301]:
# 5.b. evaluate_accuracy_cross_validation (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("5.b.'evaluate_accuracy_cross_validation' - Test 3 (name: test5b_3-evaluate_accuracy_cv, points: 0.4)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)
    
    X = pd.concat([X_train, X_test])
    y = pd.concat([y_train, y_test])

    knn_cv_acc_score = evaluate_accuracy_cross_validation(KNeighborsClassifier(), X, y)
    nb_cv_acc_score = evaluate_accuracy_cross_validation(GaussianNB(), X, y)
    dt_cv_acc_score = evaluate_accuracy_cross_validation(DecisionTreeClassifier(random_state=42), X, y) 
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise
    
assert 0.57 < nb_cv_acc_score < 0.63, "Wrong cross-validation accuracy score for Naive Bayes model using the preprocessed data after training, please check preprocessing and training process based on the instructions"

print ("Good Job!\nYou've passed the 3rd test for the 'evaluate_accuracy_cross_validation' function implementation :-)")

5.b.'evaluate_accuracy_cross_validation' - Test 3 (name: test5b_3-evaluate_accuracy_cv, points: 0.4)
Good Job!
You've passed the 3rd test for the 'evaluate_accuracy_cross_validation' function implementation :-)

[Go to the beginning of the assignment](#home)
<a id="gridsearch"></a>
### 6.  HyperParameters Tuning - ** 5 Points** 
So far, you trained and evaluated various types of classifier using their default hyperparameter values. 

Different hyperparameters values can substentially affect the overall model's performance. In this section you will find the hyperparameter values maximizing your classifier's performance by using Sklearn GridSearchCV

<hr>

<b><u>This section includes the following</u></b>:
* 6.a. grid-search for knn  (2.5 Points)
* 6.b. grid-search for decision trees (2.5 Points)

#### 6.a. Grid Search - KNN - **2.5 Points**

<u>method name</u>: <b>grid_search_knn</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to find the best hyperparameters 
  maxmizing your KNN classifier performances as follows:
  For the KNN classifier you are asked to find the best values for the following hyperparameters:    
1. 'n_neighbors' with the values [3, 5, 11, 20, 35, 50]
2. 'weights' with the values ['uniform', 'distance']
3. 'metric' with the values ['euclidean', 'manhattan', 'minkowski']
------------
input parameters:
- clf - **Untrained** KNN classifier instance
- X_train - Train set to train the model with
- y_train - Train ground-truth labels to use in the learning process
------------
You are asked to return the best values for the hyperparameters using 5 fold cross validation
The return statement should look like the following:
return {'metric': 'X', 'n_neighbors': Y, 'weights': 'Z'}
</pre>

#### 6.a. Grid Search - KNN  - Implement and Run the following code cell:

In [302]:
# 6.a. grid_search_knn (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def grid_search_knn(clf, X_train, y_train):
    # YOUR CODE HERE
    knn_params = {
        'n_neighbors': [3, 5, 11, 20, 35, 50],
        'weights': ['uniform', 'distance'],
        'metric': ['euclidean', 'manhattan', 'minkowski']
    }

    return GridSearchCV(clf, knn_params, cv=5).fit(X_train, y_train).best_params_

#### 6.a. grid_search_knn - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [303]:
# 6.a. grid_search_knn (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'
risk_factor_df = load_csv(file_name_preprocessed)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)

# --- add additional code to check your code if needed:
# YOUR CODE HERE
grid_search_knn(KNeighborsClassifier(), X_train, y_train)

{'metric': 'euclidean', 'n_neighbors': 50, 'weights': 'distance'}

##### 6.a. grid_search_knn - GRADED TESTS - Run the following (2) code cells:

In [304]:

# 6.a. grid_search_knn (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("6.a.'grid_search_knn' - Test 1 (name: test6a_1-grid_search_knn, points: 0.2) - Sanity")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    grid_search_knn_result = grid_search_knn(KNeighborsClassifier(), X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'grid_search_knn' function implementation :-)")

6.a.'grid_search_knn' - Test 1 (name: test6a_1-grid_search_knn, points: 0.2) - Sanity
Good Job!
You've passed the 1st test for the 'grid_search_knn' function implementation :-)

In [305]:
# 6.a. grid_search_knn (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("6.a.'grid_search_knn' - Test 2 (name: test6a_2-grid_search_knn, points: 0.8)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    grid_search_knn_result = grid_search_knn(KNeighborsClassifier(), X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert grid_search_knn_result.get("n_neighbors") == 50, "Grid Search reuslt for 'n_neighbors' hyperparameter was not calculated correctly or was not caculated at all"

print ("Good Job!\nYou've passed the 4th test for the 'grid_search_knn' function implementation :-)")

6.a.'grid_search_knn' - Test 2 (name: test6a_2-grid_search_knn, points: 0.8)
Good Job!
You've passed the 4th test for the 'grid_search_knn' function implementation :-)

In [306]:
# 6.a. grid_search_knn (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("6.a.'grid_search_knn' - Test 3 (name: test6a_3-grid_search_knn, points: 0.8)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    grid_search_knn_result = grid_search_knn(KNeighborsClassifier(), X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert grid_search_knn_result.get("metric") == "euclidean", "Grid Search reuslt for 'metric' hyperparameter was not calculated correctly or was not caculated at all"

print ("Good Job!\nYou've passed the 3rd test for the 'grid_search_knn' function implementation :-)")

6.a.'grid_search_knn' - Test 3 (name: test6a_3-grid_search_knn, points: 0.8)
Good Job!
You've passed the 3rd test for the 'grid_search_knn' function implementation :-)

In [307]:
# 6.a. grid_search_knn (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("6.a.'grid_search_knn' - Test 4 (name: test6a_4-grid_search_knn, points: 0.8)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    grid_search_knn_result = grid_search_knn(KNeighborsClassifier(), X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert grid_search_knn_result.get("weights") == "distance", "Grid Search reuslt for 'weights' hyperparameter was not calculated correctly or was not caculated at all"

print ("Good Job!\nYou've passed the 2nd test for the 'grid_search_knn' function implementation :-)")

6.a.'grid_search_knn' - Test 4 (name: test6a_4-grid_search_knn, points: 0.8)
Good Job!
You've passed the 2nd test for the 'grid_search_knn' function implementation :-)

#### 6.b. Grid Search - Decision Tree - **2.5 Points**

<u>method name</u>: <b>grid_search_decision_tree</b><br/>

<hr>

<u>dependency</u>: <br/>
* <b>decouple_data</b></br> 
* <b>split_data</b></br> 

<hr>

<pre>
Complete the following function to find the best hyperparameters 
  maxmizing your Decision Tree classifier performances as follows:
  For the Decision Tree classifier you are asked to find the best
  values for the following hyperparameters:    
1. 'criterion' with the values ['gini', 'entropy']
2. 'max_depth' with the values [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3. 'min_samples_split' with the values [5, 10, 15, 20, 25]
4. 'min_samples_leaf' with the values [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
------------
input parameters:
- clf - **Untrained** Decision Tree classifier instance
- X_train - Train set to train the model with
- y_train - Train ground-truth labels to use in the learning process
------------
You are asked to return the best values for the hyperparameters using 5 fold cross validation
The return statement should look like the following:
return {'criterion': 'X',
 'max_depth': Y,
 'min_samples_leaf': Z,
 'min_samples_split': Q}
 
For test purposes use 'random_state=42' in the Decision Tree classifier instance (DecisionTreeClassifier(random_state=42))
</pre>

#### 6.b. Grid Search - Decision Tree - Implement and Run the following code cell:

In [308]:
# 6.b. grid_search_decision_tree (your solution)
# ====>>> YOUR ACTIONS: IMPLEMENT & RUN

def grid_search_decision_tree(clf, X_train, y_train):
    # YOUR CODE HERE
    list_one_to_ten = list(range(1, 11))
    decision_tree_params = {
        'criterion': ['gini', 'entropy'],
        'max_depth': list_one_to_ten,
        'min_samples_split': list(range(5, 26, 5)),
        'min_samples_leaf': list_one_to_ten
    }

    return GridSearchCV(clf, decision_tree_params, cv=5).fit(X_train, y_train).best_params_

#### 6.b. grid_search_decision_tree - OPTIONAL SELF TEST - Implement & Run the following code cell (IF NEEDED):

In [309]:
# 6.b. grid_search_decision_tree (optional self testing)
# ====>>> YOUR ACTIONS: (optional) IMPLEMENT & RUN 
file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'
risk_factor_df = load_csv(file_name_preprocessed)
X, y = decouple_data(risk_factor_df)
X_train, X_test, y_train, y_test = split_data(X, y)

# --- add additional code to check your code if needed:
# YOUR CODE HERE
grid_search_decision_tree(DecisionTreeClassifier(random_state=42), X_train, y_train)

{'criterion': 'entropy',
 'max_depth': 10,
 'min_samples_leaf': 3,
 'min_samples_split': 5}

##### 6.b. grid_search_decision_tree - GRADED TESTS - Run the following (2) code cells:

In [221]:
# 6.b. grid_search_decision_tree (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("6.b.'grid_search_decision_tree' - Test 1 (name: test6b_1-grid_search_decision_tree, points: 0.2) - Sanity")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    grid_search_dt_result = grid_search_decision_tree(DecisionTreeClassifier(random_state=42), X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

print ("Good Job!\nYou've passed the 1st test for the 'grid_search_decision_tree' function implementation :-)")

6.b.'grid_search_decision_tree' - Test 1 (name: test6b_1-grid_search_decision_tree, points: 0.2) - Sanity
Good Job!
You've passed the 1st test for the 'grid_search_decision_tree' function implementation :-)

In [222]:
# 6.b. grid_search_decision_tree (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("6.b.'grid_search_decision_tree' - Test 2 (name: test6b_2-grid_search_decision_tree, points: 1.1)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    grid_search_dt_result = grid_search_decision_tree(DecisionTreeClassifier(random_state=42), X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise

assert grid_search_dt_result.get("criterion") == "entropy", "Grid Search reuslt for 'criterion' hyperparameter was not calculated correctly or was not caculated at all"
assert grid_search_dt_result.get("max_depth") == 10, "Grid Search reuslt for 'max_depth' hyperparameter was not calculated correctly or was not caculated at all"

print ("Good Job!\nYou've passed the 2nd test for the 'grid_search_decision_tree' function implementation :-)")

6.b.'grid_search_decision_tree' - Test 2 (name: test6b_2-grid_search_decision_tree, points: 1.1)
Good Job!
You've passed the 2nd test for the 'grid_search_decision_tree' function implementation :-)

In [223]:
# 6.b. grid_search_decision_tree (graded test)
# ====>>> YOUR ACTIONS: RUN ONLY

print ("6.b.'grid_search_decision_tree' - Test 3 (name: test6b_3-grid_search_decision_tree, points: 1.2)")

file_name_preprocessed = '.' + os.sep + 'data' + os.sep + 'loans_preprocessed_1.csv'

try:
    risk_factor_df = load_csv(file_name_preprocessed)
    X, y = decouple_data(risk_factor_df)
    X_train, X_test, y_train, y_test = split_data(X, y)

    grid_search_dt_result = grid_search_decision_tree(DecisionTreeClassifier(random_state=42), X_train, y_train)
except Exception as e:
    print ('You probably have a syntax or implementation error,  \nerror Message:',str(e), '\nTry fixing your code')
    raise 

assert grid_search_dt_result.get("min_samples_leaf") == 3, "Grid Search reuslt for 'min_samples_leaf' hyperparameter was not calculated correctly or was not caculated at all"
assert grid_search_dt_result.get("min_samples_split") == 5, "Grid Search reuslt for 'min_samples_split' hyperparameter was not calculated correctly or was not caculated at all"

print ("Good Job!\nYou've passed the 3rd test for the 'grid_search_decision_tree' function implementation :-)")

6.b.'grid_search_decision_tree' - Test 3 (name: test6b_3-grid_search_decision_tree, points: 1.2)
Good Job!
You've passed the 3rd test for the 'grid_search_decision_tree' function implementation :-)